:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "Krub", sans-serif
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
/************************ Navegacion ******************************/
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
}
.navBg {
    background-color: var(--secundario);
}
.navegacionTitulo {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .navegacionTitulo {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacionTitulo a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacionTitulo a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}